# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# TO BE REMOVED AS I LEARN MORE ABOUT THEMl
.dockerignore
.prettierignore
Dockerfile
.github/FUNDING.yml
.github/ISSUE_TEMPLATE/bug.yml
.github/ISSUE_TEMPLATE/config.yml
.github/ISSUE_TEMPLATE/docs.yml
.github/ISSUE_TEMPLATE/feature_request.yml
.github/ISSUE_TEMPLATE/other.yml
.github/workflows/build.yml
.github/workflows/community.yml
.github/workflows/deploy.yml
.github/workflows/prettier.yml
.github/workflows/release.yml
cypress/fixtures/example.json
cypress/integration/404.feature
cypress/integration/homepage.feature
cypress/integration/search.feature
cypress/integration/user.feature
cypress/integration/common/actions.js
cypress/plugins/index.js
cypress/support/commands.js
cypress/support/index.js
kubernetes/deployment.yaml
kubernetes/ingress.yaml
kubernetes/service.yaml
